
    *{
      font-family: 'Lato', sans-serif;
    }

    body{
      background-color:#FFFFFF;
    }
    nav{
      background:rgba(255, 229, 213, 0.555);
    }
    li, .navbar-brand {
      float: none;
      text-align: center;
      font-size:calc(12px + 1vw);
    }

    #home{
      background-image: url("../images/mountains.png");
      min-height:100%;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
      /* background: #16222A;  /* fallback for old browsers 
      /* background: -webkit-linear-gradient(to left, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 
      /* background: linear-gradient(to left, #3A6073, #16222A); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
      

    

    /* .portafolio{
      background-color:lightgray;
    } */

    #aboutme{
      background-color: rgba(255, 229, 213, 0.555);

    }

    .photo{
      max-width: 200px;
      border: white solid 3px;
    }
  

    .rainbowText {
      font-size: calc(20px + 10vw);
      font-weight: 400px;
      
      color: #f35626;
      background-image: -webkit-linear-gradient(160deg,#f35626,#feab3a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 5s infinite linear;
  }
  
  @-webkit-keyframes hue {
      from {
        -webkit-filter: hue-rotate(0deg);
      }
      
      to {
        -webkit-filter: hue-rotate(360deg);
      }
  }

  .iknow{
    font-size: calc(16px + 5vw);
    font-weight:600px;
    color: rgb(197, 28, 70);
    
  }

  h3{
    font-size:calc(16px + 3vw);
  }
  h4{
    font-size:calc(12px + 3vw);
  }



  p{
    font-size:calc(12px + 1.5vw);
  }

@media screen and (min-width:1000px){
.studypals{
  -ms-transform: skewY(-5deg); /* IE 9 */
    -webkit-transform: skewY(-5deg); /* Safari */
    transform: skewY(-5deg); /* Standard syntax */
}
.hungryants{
  -ms-transform: skewY(5deg); /* IE 9 */
    -webkit-transform: skewY(5deg); /* Safari */
    transform: skewY(5deg); /* Standard syntax */
}
.portafolio img{
  border: white solid 4px;
}
}

.portafolio{
  background-color: #2A2A3F;
  color: white;
}

.portafolio h4{
  margin-top: 2rem;
}

.contact{
  color:white;
  background-color: black;
}

