
    *{
      font-family: 'Amatic SC', cursive;
    }
    
    li {
      float: none;
      display: inline-block;
      text-align: center
    }

    #home{
      background: #16222A;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      

    }

    /* .portafolio{
      background-color:lightgray;
    } */

    #aboutme > p {

    }

    .photo{
      max-width: 200px;
    }
  

    .rainbowText {
      font-size: 10vw;
      font-family: 'Amatic SC', cursive;
      color: #f35626;
      background-image: -webkit-linear-gradient(92deg,#f35626,#feab3a);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-animation: hue 5s infinite linear;
  }
  
  @-webkit-keyframes hue {
      from {
        -webkit-filter: hue-rotate(0deg);
      }
      
      to {
        -webkit-filter: hue-rotate(360deg);
      }
  }

  .iknow{
    font-size: calc(12px + 2vw);
    color: white;
  }

  h3{
    font-size:calc(11px + 2vw);
  }
  h4{
    font-size:calc(8px + 1vw);
  }



  p{
    font-size:calc(5px + 1vw);
  }

@media (min-width:500px){
.studypals{
  -ms-transform: skewY(-5deg); /* IE 9 */
    -webkit-transform: skewY(-5deg); /* Safari */
    transform: skewY(-5deg); /* Standard syntax */
}

.hungryants{
  -ms-transform: skewY(5deg); /* IE 9 */
    -webkit-transform: skewY(5deg); /* Safari */
    transform: skewY(5deg); /* Standard syntax */
}

.portafolio img{
  border: black solid 1px;
}
}

